{{!-- Displays the information of the selected blog post --}}
<div class="text-center">
  <h2>{{title}}</h2>
  <p>Posted by {{user.name}} on {{format_date date_created}}</p>
  <p>
    <span class="blogContent">{{content}}</span>
  </p>
  {{#if comments.length}}
    <div class="commentSection">
      {{#each comments as |comment|}}
      <h6>{{comment.user.name}}:</h6>
      <p>{{comment.content}}</p>
      <p class="footerText">{{format_date comment.createdAt}}</p>
      {{/each}}
    </div>
  {{/if}}

</div>
<form class="form comment-form">
  <div class="mb-3">
    <label for="newComment" class="form-label">Comment</label>
    <input class="form-control" type="text" id="newComment">
  </div>
  <div id="commentSuccess" class="alert alert-warning" role="alert">
    Your comment has been posted  
  </div>
  <button class="btn btn-secondary" id="commentBtn" type="submit">Add Comment</button>
</form>
<script src="/js/comment.js"></script>

{{!-- Allows the addition of comments --}}