<h4>Hi, {{name}}!</h4>
{{#if blogs.length}}
<h5>You have made {{blogs.length}} posts.</h5>
{{else}}
<h5>You haven't made any posts. Make a new one below!</h5>
{{/if}}

{{!-- Create a new blog post --}}
<div id="outsideCard"class="card text-center">
  <div class="card-body">
    <div class="card">
      <ul class="list-group list-group-flush"> 
        <div class="input-group input-group-lg">
          <span class="input-group-text">Title</span>
          <input id="titleEntry" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
        </div>
        <div class="input-group input-group-lg">
          <span class="input-group-text">Content</span><br>
          <textarea id="contentEntry" class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
        </div>
      </ul>
    </div>
    <div id="blogSuccess"class="alert alert-success" role="alert">
        Your blog has been posted.
    </div>
    <button class="btn btn-primary" id="create_blog_btn" type="submit">Post Blog</button>
  </div>

{{!-- Displays the blog posts of the user --}}
  {{#if blogs.length}}
  <div class="col-md-6 blog-list">
    <h3>Current Blog Posts:</h3>
    <h5>Click on a blog title if you wish to edit or delete it</h5>
    {{#each blogs as |blog|}}
      <div class="row mb-2">
        <div class="col-md-8">
          <h4><a href="/blog/edit/{{blog.id}}">{{blog.title}}</a></h4>
        </div>
      </div>
    {{/each}}
  </div>
  {{/if}}

</div>
<script src="/js/blog.js"></script>
